<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	 http://www.springframework.org/schema/aop   http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
	default-autowire="byName">
	
	<bean name="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">  
            <list>  
                <value>classpath:message</value>  
            </list>  
        </property>  
	</bean>
	<bean id="messageSourceAccessor" class="org.springframework.context.support.MessageSourceAccessor">
		<constructor-arg ref="messageSource" />
	</bean>
	
	<bean id="globalprodValidationAnnotationHandlerRegistry" class="com.alipay.validation.GlobalprodValidationAnnotationHandlerRegistry"/>
	<bean id="configurationLoader" class="org.springmodules.validation.bean.conf.loader.annotation.AnnotationBeanValidationConfigurationLoader">
		<property name="handlerRegistry" ref="globalprodValidationAnnotationHandlerRegistry"/>
	</bean>
	<bean id="validator" class="org.springmodules.validation.bean.BeanValidator">
		<property name="configurationLoader" ref="configurationLoader"/>
	</bean>
	
	<bean class="com.alipay.context.ApplicationContextHolder"/>
	
	<bean id="testCheckService" class="com.alipay.validation.service.impl.TestCheckService"/>
</beans>
